@tailwind base;
@tailwind components;
@tailwind utilities;

pre{
    background-color: #364549;
    display: block;
    padding: 30px;
    margin: 0;
    font-size: inherit;
    font-family: "SFMono-Regular",Consolas,"Liberation Mono",Menlo,Courier,monospace;
    line-height: inherit;
    color: inherit;
    border: none;
    border-radius: 0;
    line-height: 1.8;
}
code{
    color: #e3e3e3;
}